In [1]:
import os
import json
import pandas as pd
import numpy as np
from collections import defaultdict
path='d:/project/0/src/python/pydata-book-master/ch02/usagov_bitly_data2012-03-16-1331923249.txt'
records = [json.loads(line) for line in open(path)]
records[0]

{u'a': u'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11',
 u'al': u'en-US,en;q=0.8',
 u'c': u'US',
 u'cy': u'Danvers',
 u'g': u'A6qOVH',
 u'gr': u'MA',
 u'h': u'wfLQtf',
 u'hc': 1331822918,
 u'hh': u'1.usa.gov',
 u'l': u'orofrog',
 u'll': [42.576698, -70.954903],
 u'nk': 1,
 u'r': u'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf',
 u't': 1331923247,
 u'tz': u'America/New_York',
 u'u': u'http://www.ncbi.nlm.nih.gov/pubmed/22415991'}

In [2]:
time_zones = [rec['tz'] for rec in records if 'tz' in rec]
def get_count2(seq):
    counts = defaultdict(int)
    for x in seq:
        counts[x] += 1
    return counts
counts = get_count2(time_zones)
counts['America/New_York']

1251

In [3]:
def top_counts(count_dict, n=10):
    value_key_pairs = [(count, tz) for tz, count in count_dict.items()]
    value_key_pairs.sort()
    return value_key_pairs[-n:]
top_counts(counts)

[(33, u'America/Sao_Paulo'),
 (35, u'Europe/Madrid'),
 (36, u'Pacific/Honolulu'),
 (37, u'Asia/Tokyo'),
 (74, u'Europe/London'),
 (191, u'America/Denver'),
 (382, u'America/Los_Angeles'),
 (400, u'America/Chicago'),
 (521, u''),
 (1251, u'America/New_York')]

In [4]:
frame = pd.DataFrame(records)
tz_counts = frame['tz'].value_counts()
tz_counts[:10]

America/New_York       1251
                        521
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
America/Sao_Paulo        33
Name: tz, dtype: int64

In [5]:
clean_tz = frame['tz'].fillna('missing')
clean_tz.ix[3536]

u''

In [6]:
clean_tz[clean_tz=='']='unknown'
clean_tz.ix[3536]

'unknown'

In [7]:
tz_counts = clean_tz.value_counts()
tz_counts[:10]

America/New_York       1251
unknown                 521
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
missing                 120
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
Name: tz, dtype: int64

In [8]:
results = pd.Series([x.split()[0] for x in frame.a.dropna()])
results[:5]

0               Mozilla/5.0
1    GoogleMaps/RochesterNY
2               Mozilla/4.0
3               Mozilla/5.0
4               Mozilla/5.0
dtype: object

In [9]:
results.value_counts()[:5]

Mozilla/5.0               2594
Mozilla/4.0                601
GoogleMaps/RochesterNY     121
Opera/9.80                  34
TEST_INTERNET_AGENT         24
dtype: int64

In [10]:
cframe = frame[frame.a.notnull()]
opt_sys = np.where(cframe['a'].str.contains('Windows'),'windowns','not windows')
opt_sys

array(['windowns', 'not windows', 'windowns', ..., 'not windows',
       'not windows', 'windowns'],
      dtype='|S11')

In [11]:
by_tz_os = cframe.groupby(['tz',opt_sys])
agg_counts = by_tz_os.size().unstack().fillna(0)
agg_counts[:10]

                                not windows  windowns
tz
                                      245.0     276.0
Africa/Cairo                            0.0       3.0
Africa/Casablanca                       0.0       1.0
Africa/Ceuta                            0.0       2.0
Africa/Johannesburg                     0.0       1.0
Africa/Lusaka                           0.0       1.0
America/Anchorage                       4.0       1.0
America/Argentina/Buenos_Aires          1.0       0.0
America/Argentina/Cordoba               0.0       1.0
America/Argentina/Mendoza               0.0       1.0

In [12]:
indexer = agg_counts.sum(1).argsort()
indexer[:10]

tz
                                  24
Africa/Cairo                      20
Africa/Casablanca                 21
Africa/Ceuta                      92
Africa/Johannesburg               87
Africa/Lusaka                     53
America/Anchorage                 54
America/Argentina/Buenos_Aires    57
America/Argentina/Cordoba         26
America/Argentina/Mendoza         55
dtype: int64

In [ ]:
count_sub = agg_counts.take(indexer)[-10:]
normed_subset = count_sub.div(count_sub.sum(1), axis=0)