axis=0 行
axis=1 列

In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [5]:
df = DataFrame({'key1':list('aabba'),
              'key2':['one','two','one','two','one'],
              'data1': np.random.randn(5),
              'data2': np.random.randn(5)})
df

      data1     data2 key1 key2
0  0.523241  0.263428    a  one
1  0.979906 -1.439515    a  two
2 -1.279997  0.391826    b  one
3  0.695061  0.261140    b  two
4 -0.365135 -0.506394    a  one

In [6]:
grouped = df['data1'].groupby(df['key1'])

In [7]:
grouped.mean()

key1
a    0.379337
b   -0.292468
Name: data1, dtype: float64

In [8]:
means = df['data1'].groupby([df['key1'],df['key2']]).mean()
means

key1  key2
a     one     0.079053
      two     0.979906
b     one    -1.279997
      two     0.695061
Name: data1, dtype: float64

In [9]:
means.unstack()

key2       one       two
key1
a     0.079053  0.979906
b    -1.279997  0.695061

In [10]:
for name,group in df.groupby('key1'):
    print(name)
    print(group)

a
      data1     data2 key1 key2
0  0.523241  0.263428    a  one
1  0.979906 -1.439515    a  two
4 -0.365135 -0.506394    a  one
b
      data1     data2 key1 key2
2 -1.279997  0.391826    b  one
3  0.695061  0.261140    b  two