In [1]:
!cat 'd:/project/0/src/python/pydata-book-master/ch06/ex1.csv'

'cat' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

In [2]:
import pandas as pd
df = pd.read_csv('d:/project/0/src/python/pydata-book-master/ch06/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
df = pd.read_csv('d:/project/0/src/python/pydata-book-master/ch06/ex2.csv', names=['a','b','c','d','msg'])
df

   a   b   c   d    msg
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [5]:
df = pd.read_csv('d:/project/0/src/python/pydata-book-master/ch06/ex2.csv', names=['a','b','c','d','msg'], index_col='msg')
df

       a   b   c   d
msg
hello  1   2   3   4
world  5   6   7   8
foo    9  10  11  12

In [6]:
df.to_csv('text.csv')

In [7]:
import sqlite3
query = """
create table test
( a varchar(20),
b varchar(20),
c real,
d integer
);
"""
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [8]:
data = [('atlan', 'geo', 1.25, 6), ('Talla', 'Flor', 2.6, 3)]
stmt = "insert into test values (?,?,?,?)"
con.executemany(stmt, data)
con.commit()

In [11]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('atlan', 'geo', 1.25, 6), ('Talla', 'Flor', 2.6, 3)]

In [16]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [17]:
from pandas import DataFrame

In [18]:
DataFrame(rows, columns=zip(*cursor.description)[0])

TypeError: 'zip' object is not subscriptable